{% extends 'web/partials/base.html' %}
{% block content %}
{% load static %}
<div class="content container-fluid">
    <div class="row">
        {% for i in products %}
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="dash-widget-header">
                        
                        <div class="dash-count">
                            <div class="dash-title">{{i.name}}</div>
                            <div class="dash-counts">
                                <a href="{% url 'web:viewhistory' i.id %}" class="btn  btn-block btn-primary " >View History</a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
     {% endfor %}
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                
                <div class="card-body">
                   
                    <div class="table-responsive">
                        <table class="table table-stripped table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>Customer</th>
                                    <th>Amount</th>
                                    <th>Due Date</th>
                                    <th>Product Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in bidlist %}
                                <tr>
                                    <td>
                                       {{i.customer.name}}
                                    </td>
                                    <td>{{i.price}}</td>
                                    <td>{{i.addeddate}}</td>
                                    <td>{{i.product.name}}</td>
                                </tr>
                               {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</div>

{% endblock %}